@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/Admin/ProductUser/Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Home</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/ListUser/Index">
                <i class="fas fa-fw fa-user"></i>
                <span>List User</span>
            </a>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-comment"></i>
                <span>List Review</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/ListProduct/Index">
                <i class="fas fa-fw fa-folder"></i>
                <span>List Product</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/HomeAdmin">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>My Profile</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
}
<div class="row">
    <div class="col-lg-12">
        @if (TempData["UserMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button> <h5><i class="icon fas fa-check"></i> @TempData["UserMessage"]</h5>
            </div>
        }
        @if (TempData["EditUserMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button> <h5><i class="icon fas fa-check"></i> @TempData["EditUserMessage"]</h5>
            </div>
        }
        @if (TempData["DeleteUserMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button> <h5><i class="icon fas fa-check"></i> @TempData["DeleteUserMessage"]</h5>
            </div>
        }
        <div class="panel panel-default">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h2 class="m-0 font-weight-bold text-primary" style="text-align:center;">List Users</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Index", "ListUser", FormMethod.Get))
                    {
                        <div class="form-group">
                            @Html.Label("Search:", new { @class = "control-label" })
                            @Html.TextBox("searchString", null, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Search for..." })
                        </div>
                        <div class="filter" style=" width: 100%; overflow: hidden;">
                            <div class="form-group filter1" style=" display: inline-block; width: 5%; margin: 0px;">
                                @Html.Label("Filter by: ", new { @class = "control-label" })
                            </div>
                            <div class="form-group filter1" style=" display: inline-block; width: 8%; margin: 1px;">
                                @Html.CheckBox("roleFilter", false)
                                @Html.Label("Role Admin", new { @class = "control-label" })
                            </div>
                            <div class="form-group filter1" style="display: inline-block; width: 8%; margin: 0 1.5%;">
                                @Html.CheckBox("active", false)
                                @Html.Label("Active", new { @class = "control-label" })
                            </div>
                            <div class="form-group filter1" style="display: inline-block; width: 5%; margin: 0;">
                                @Html.CheckBox("deleted", false)
                                @Html.Label("Deleted", new { @class = "control-label" })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="bi-funnel-fill"></i> Filter</button>
                        <hr>
                    }
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="table-responsive">
                                <table style="text-align:center" class="table table-striped table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>UserName</th>
                                            <th>Email</th>
                                            <th>Password</th>
                                            <th data-sort="date">CreateAt</th>
                                            <th data-sort="date">UpdateAt</th>
                                            <th data-sort="date">DeleteAt</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count == 0)
                                        {

                                            <tr>
                                                <td colspan="9" class="text-center">No Data</td>
                                            </tr>
                                        }
                                        @if (Model.Count != 0)
                                        {
                                            var counter = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr id="row_@item.ID">
                                                    <td>@counter</td>
                                                    <td>@item.UserName</td>
                                                    <td>@item.Email</td>
                                                    <td><span class="password">@item.Password</span></td>
                                                    <td>@(item.CreateAt == null ? "" : item.CreateAt.Value.ToString("dd/MM/yyyy"))</td>
                                                    <td>@(item.UpdateAt == null ? "" : item.UpdateAt.Value.ToString("dd/MM/yyyy"))</td>
                                                    <td>@(item.DeleteAt == null ? "" : item.DeleteAt.Value.ToString("dd/MM/yyyy"))</td>
                                                    <td><a style="text-decoration:none" data-id="@item.ID">@(item.Role == 1 ? "Admin" : "User")</a></td>
                                                    <td><a style="text-decoration:none" data-id="@item.ID">@(item.Status == true ? "Chưa xóa" : " Đã xóa")</a></td>
                                                    <td>
                                                        <a class="btn btn-success" style="text-decoration:none; " href="/Admin/User/Edit/@item.ID"><i class="fa fa-edit"></i> Edit</a> |
                                                        <a style="text-decoration: none;" href="@Url.Action("Delete", "User", new { id = item.ID })" class="btn btn-danger" onclick="return confirm('Xác nhận xoá?')"><i class="fas fa-trash"></i> Delete</a>
                                                    </td>
                                                </tr>
                                                counter++;
                                            }
                                        }

                                    </tbody>

                                </table>

                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString, roleFilter = ViewBag.RoleFilter, active = ViewBag.StatusActive, deleted = ViewBag.StatusDeleted }))
                                <script>
                                    // Lấy tất cả các phần tử có class là "password"
                                    var passwordFields = document.querySelectorAll(".password");

                                    // Với mỗi phần tử, thay thế giá trị bằng dấu *
                                    passwordFields.forEach(function (field) {
                                        field.textContent = "*".repeat(field.textContent.length);
                                    });
                                </script>
                            </div>
                            <div class="input-group-append">
                                <a class="btn btn-primary" href="/Admin/User/Index"><i class="bi-person-fill-add"></i> Add User</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>