@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <!-- site metas -->
    <title>NTQ-Shop</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="TvT">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    
    <!-- fevicon -->
    <link rel="icon" href="~/Assets/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Assets/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  -->
    <!-- owl stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesoeet" href="~/Assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <style>
        .banner_bg_main {
            background-image: url("/Assets/admin/images/banner-bg-1.png");
        }
    </style>
</head>
<body>
    @{
        var session = (WebNTQ.Common.UserLogin)Session[WebNTQ.Common.CommonConstants.USER_SESSION];
       
    }
    <!-- banner bg main start -->
    <div class="banner_bg_main">
        <!-- header top section start -->
        <div class="container">
            <div class="header_section_top">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="custom_menu">
                            <ul>
                                <li>
                                    @if (session == null)
                                    {
                                        <a href="/Admin/Login/Index">Login</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Index", "HomeAdmin", new { area = "Admin" })">My Profile</a>

                                    }
                                </li>
                                <li><a href="#">Home</a></li>
                                <li><a href="/Admin/ProductUser/Index">Product</a></li>
                                <li><a href="#">My Reviews</a></li>
                                <li><a href="#">WishList</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header top section start -->
        <!-- logo section start -->
        <div class="logo_section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="logo"><a href="/Admin/Login/Index"><img style="width:13%; height:auto;" src="~/Assets/images/logoNTQ.png"></a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- logo section end -->
        <!-- header section start -->
        <div class="header_section">
            <div class="container">
                <div class="containt_main">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                        <a href="/Admin/Login/Index">Login</a>
                        <a href="">Fashion</a>
                        <a href="electronic.html">Electronic</a>
                        <a href="jewellery.html">Jewellery</a>
                    </div>
                    <span class="toggle_icon" onclick="openNav()"><img src="~/Assets/images/toggle-icon.png"></span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="main">
                        <!-- Another variation with a button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search this blog">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="header_box">
                        <div class="lang_box ">
                            <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                                <img src="~/Assets/images/vietnam.png" alt="flag" class="mr-2 " title="Việt Nam"> Vietnamese <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu ">
                                <a href="#" class="dropdown-item">
                                    <img src="~/Assets/images/flag-uk.png" class="mr-2" alt="flag">
                                    United Kingdom
                                </a>
                            </div>
                        </div>
                        <div class="login_menu">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span class="padding_10">Cart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="padding_10">Cart</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header section end -->
        <!-- banner section start -->
        <div class="banner_section layout_padding">
            <div class="container">
                <div id="my_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                                    <div class="buynow_bt">

                                        @if (session == null)
                                        {
                                            <a href="/Admin/Login/Index">Login</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Index", "HomeAdmin", new { area = "Admin" })">My Profile</a>

                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                                    <div class="buynow_bt">
                                        @if (session == null)
                                        {
                                            <a href="/Admin/Login/Index">Login</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Index", "HomeAdmin", new { area = "Admin" })">My Profile</a>

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                                    <div class="buynow_bt">
                                        @if (session == null)
                                        {
                                            <a href="/Admin/Login/Index">Login</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Index", "HomeAdmin", new { area = "Admin" })">My Profile</a>

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- banner section end -->
    </div>
    <!-- banner bg main end -->
    <!-- fashion section start -->
    <div class="fashion_section">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">

                        <div class="fashion_section_2">
                            <div class="row">
                                <div class="product_section layout_padding">
                                    <div class="container">
                                        <h1 class="fashion_taital">Electronic Product</h1>
                                        <div class="product_section_2 layout_padding container">
                                            <div class="row">
                                                @foreach (var item in Model)
                                                {

                                                    <div class="col-lg-4 col-sm-4">
                                                        <div class="box_main">
                                                            <h4 class="shirt_text">@item.ProductName</h4>
                                                            <p class="price_text">Price:  <span style="color: #262626;">$@item.Price</span></p>
                                                            <div class="electronic_img"><a href="/Admin/ProductUser/Detail/@item.ID"><img src="@item.Path" class="image_1"></a></div>
                                                            <div class="btn_main">
                                                                <div class="buy_bt"><a href="#">Buy Now</a></div>
                                                                <div class="seemore_bt">
                                                                    <button type="button" class="btn btn-outline-danger">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                                                                        </svg>
                                                                        Wishlist
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString, rolFiler = ViewBag.Trending }))
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
    <!-- fashion section end -->
    <!-- loader -->
    <div class="fashion_section">
        <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">

            <div class="loader_main">
                <div class="loader"></div>
            </div>
        </div>
    </div>
    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="footer_logo"><a href="#"><img style="width:10%; height:auto;" src="~/Assets/images/logoNTQ.png"></a></div>
            <div class="input_bt">
                <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
                <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
            </div>
            <div class="footer_menu">
                <ul>
                    <li><a href="#">Best Sellers</a></li>
                    <li><a href="#">Gift Ideas</a></li>
                    <li><a href="#">New Releases</a></li>
                    <li><a href="#">Today's Deals</a></li>
                    <li><a href="#">Customer Service</a></li>
                </ul>
            </div>
            <div class="location_main">Help Line  Number : <a href="#">+84 666 999 333</a></div>
        </div>
    </div>
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">© 2023 All Rights Reserved. Design by <a href="#">TvT</a></p>
        </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/js/jquery-3.0.0.min.js"></script>
    <script src="~/Assets/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/Assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Assets/js/custom.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>
@RenderBody()