@model WebNTQ.Areas.Admin.Models.ProductModel
@{
    ViewBag.Title = "Add Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

@section jsFooter{


    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
    </script>
}
@section sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/Home/Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Home</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/ListUser/Index">
                <i class="fas fa-fw fa-user"></i>
                <span>List User</span>
            </a>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/ListUser/Index">
                <i class="fas fa-fw fa-comment"></i>
                <span>List Review</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/ListProduct/Index">
                <i class="fas fa-fw fa-folder"></i>
                <span>List Products</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/HomeAdmin">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>My Profile</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
}
@section bodymain{
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            @Html.AntiForgeryToken()
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="card shadow mb-4">
                        <div class="p-5">
                            <div class="card-header py-3">
                                <h2 class="m-0 font-weight-bold text-primary" style="text-align:center;">Add Product</h2>
                            </div>
                            @using (Html.BeginForm("Create", "Product", FormMethod.Post))
                            {
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                                <div class="form-group">
                                    ProductName
                                    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control form-control-user", @autofocus = "autofocus", @placeholder = "Type ProductName" })

                                </div>
                                <div class="form-group">
                                    Slug
                                    @Html.TextBoxFor(model => model.Slug, new { @class = "form-control form-control-user", @placeholder = "Type Slug" })

                                </div>
                                <div class="form-group">
                                    ProductDetail
                                    @Html.TextBoxFor(model => model.Detail, new { @class = "form-control form-control-user", @placeholder = "Type ProductDetail" })

                                </div>
                                <div class="form-group">
                                    Price
                                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control form-control-user", @placeholder = "Type Price" })

                                </div>
                                <div class="form-group">
                                    <label for="Trending">Trending</label>
                                    <select class="form-control" id="Trending" name="Trending">
                                        <option value="true">Top Trending</option>
                                        <option value="false">None Trending</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        Image
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.Path, new { htmlAttributes = new { @class = "form-control" }, id = "txtImage" })
                                            <a id="btnSelectImage" href="#">Choose Image </a>

                                        </div>
                                    </div>
                                </div>
                                <a>
                                    <input style="background-color: #36b9cc" type="submit" value="Create" class="btn btn-primary btn-user btn-block" />
                                </a>
                            }
                            <hr>
                            <a href="/Admin/ListProduct/Index" class="btn btn-primary btn-user btn-block icon">
                                <i class="fas fa-arrow-left"></i>
                                Back to list
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
