@model WebNTQ.Areas.Admin.Models.CreateModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@section bodymain{
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            @Html.AntiForgeryToken()
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="card shadow mb-4">
                        <div class="p-5">
                            <div class="card-header py-3">
                                <h2 class="m-0 font-weight-bold text-primary" style="text-align:center;">Edit user</h2>
                            </div>
                            @using (Html.BeginForm("Edit", "User", FormMethod.Post))
                            {
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                                <div class="form-group">
                                    UserName
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control form-control-user", @autofocus = "autofocus", @placeholder = "Type your username" })

                                </div>
                                <div class="form-group">
                                    Password
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-user", @autofocus = "autofocus", @placeholder = "Type your password" })

                                </div>
                                <div class="form-group">
                                    Email
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-user", @autofocus = "autofocus", @placeholder = "Type your email" })

                                </div>
                                <a>
                                    <input type="submit" value="Update" class="btn btn-primary btn-user btn-block" />
                                </a>
                            }
                            <hr>
                            <a href="/Admin/ListUser/Index" style="background-color: #1cc88a;" class="btn btn-primary btn-user btn-block icon">
                                <i class="fas fa-arrow-left"></i>
                                Back to list
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}