@model WebNTQ.Areas.Admin.Models.RegisterModel
@{
    ViewBag.Title = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section bodymain{
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">

            <div class="col-lg-6">
                @if (TempData["EditUserMessage"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        </button> <h5><i class="icon fas fa-check"></i> @TempData["EditUserMessage"]</h5>
                    </div>
                }
                <div class="p-5">
                    <h1 class="h4 text-gray-900 mb-2">
                        My Profile
                    </h1>
                    @using (Html.BeginForm("Edit", "HomeAdmin", FormMethod.Post))
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                        <div class="form-group">

                            @Html.LabelFor(model => model.UserName, new { htmlAttribute = new { @class = "form-control form-control-user" } })
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control form-control-user" })

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.Password, new { htmlAttribute = new { @class = "form-control form-control-user" } })
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-user", @autofocus = "autofocus", @placeholder = "Type your password" })

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.ConfirmPassword, new { htmlAttribute = new { @class = "form-control form-control-user" } })
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-user", @placeholder = "Type your confirm password" })

                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.Email, new { htmlAttribute = new { @class = "form-control form-control-user" } })
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-user", @autofocus = "autofocus", @readonly = "true" })

                        </div>
                        <div class="form-group">
                            Type
                            <input type="email" class="form-control form-control-user" readonly
                                   id="exampleInputEmail" aria-describedby="emailHelp" />

                        </div>
                        <a href="#" class="btn btn-primary btn-user btn-block">
                            Update
                        </a>
                        <a href="#" style="background-color:#e74a3b;" class="btn btn-primary btn-user btn-block icon">
                            <i class="fas fa-exclamation-triangle"></i>
                            Logout
                        </a>
                    }
                    <hr>

                </div>
            </div>
        </div>
    </div>
}